#app-info {
  bottom: 0px;
  left: 0px;
  margin: 40px;
  margin-left: 0px;
  opacity: 0;
  position: absolute;
  // transform: translateX(-100%);
  transition: margin 250ms, opacity 250ms, transform 250ms;
  z-index: 2;
}